/.directory
/README.org~
auto-save-list/
/config.el
/config.org~
/custom.el~
elpa/
/issues~
/smex-items
/ac-comphist.dat
*.org-id-locations
/bookmarks
eshell/
/recentf
/recentf~
snippets/
url/
custom.el
/config.org_archive
site-lisp/
/configure.sh~
/.ispell
